@media screen and (max-width: 690px) {
    .menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
        text-align: center;
    }

    nav.menu-mobile ul {
        position: absolute;
        list-style-type: none;
        width: 100%;
        left: 0;
        opacity: 0;
        background-color: rgba(53, 51, 49, 1);
        margin-top: 37px;
        z-index: 2;
    }

    .nav-list {
        display: none;
    }

    nav.menu-mobile i {
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 28px;
        text-align: right;
    }

    nav.menu-mobile li {
        text-align: center;
        text-transform: uppercase;
        padding: 6px;
        width: 100%;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .menu-mobile a {
        color: white;
        text-decoration: none;
        display: block;
    }

    .show-menu {
        display: block;
        opacity: 1 !important;
    }

    .menu-mobile li:hover {
        background-color: #cca686;
    }

    div.wrapper_headerSocial {
        display: block;
        text-align: center;
        font-size: 14px;
    }

    div.wrapper-social {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    div.social-redes {
        display: flex;
        justify-content: center;
    }

    div.wrapper-depoimentos {
        display: block;
    }

    div.depoimento-single {
        width: 90%;
        margin: 1em auto;
    }

    form {
        margin: 1em auto;
        width: 90%;
    }

    div.main-content h1 {
        font-size: 1.7em;
    }
    
    .LineProdutos{
        display: none;
    }

    .end-form{
        display: flex;
        flex-direction: column;
        gap:8px;
    }
}

@media screen and (max-width: 540px) {
    div.register-btn input {
        width: 50%;
    }
}

@media screen and (max-width: 520px) {
    div.sobre-mini-single {
        width: 100%;
        margin: 10px auto;
    }

    .main-img img {
        width: 100%;
    }

    div.cards-servicos-single {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {
    .main-content p {
        display: none;
    }
}