@media screen and (max-width: 1270px) {
    .sobre-img {
        display: none;
    }

    div.wrapper-sobre-content {
        width: 100%;
        text-align: center;
    }

    div.sobre-mini-single {
        width: 50%;
        margin: 10px auto;
        padding: 0 .4em;
    }
}

@media screen and (max-width: 1224px) {
.wrapper-profissionais {
    display: flex;
    gap: 10px;
}
}

@media screen and (max-width: 990px) {
    section.main {
        position: relative;
    }

    .main-content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        padding: 1em 2%;
    }

    div.wrapper-form {
        display: block;
    }

    a.btn-number {
        display: none;
    }

    a.btn-email {
        display: none;
    }

    div.contato-add {
        width: 100%;
        text-align: center;
    }

    form {
        margin: 1em auto;
        width: 80%;
    }

    .end-form{
        justify-content: center;
    }
}

@media screen and (max-width: 880px) {
    div.cards-servicos-single {
        width: 40%;
    }

    .main-img img {
        width: 80%;
    }

    section.profissionais {
        display: block;
    }

    .bg-left {
        width: 100%;
        padding: 5em 0;
    }

    .wrapper-profissionais {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .profissionais-single {
        justify-content: center;
    }

    .bg-left-text {
        text-align: center;
    }
}
